[user]
  name = tylorr
  email = tylor@fastmail.com
  signingkey = CF8845FE
[core]
  autocrlf = input
  editor = vim
  whitespace = nowarn
  excludesfile = ~/.gitignore_global
[push]
  default = simple
[diff "pandoc"]
  textconv=pandoc --to=markdown
  prompt = false
[alias]
  co = checkout
  ci = commit
  br = branch
  st = status
  ss = status -sb
  au = add -u
  aa = add -A
  fe = fetch
  rb = rebase
  rbc = rebase --continue

  k = "!gitk --all $* &"

  pr = pull --rebase
  prl = !sh -c 'git pr && git lag -5 ORIG_HEAD..FETCH_HEAD'

  prs = "!git fetch; git rebase FETCH_HEAD --autostash"

  lg = log --oneline --decorate
  lag = log --pretty=format:\"%C(cyan)%an%Creset %s %Cgreen(%cr)%Creset\"

  # show logs since a commit
  lgs = !sh -c 'git lg $1..HEAD' -

  # shows diff of files and there status
  df = diff --name-status
  dw = diff --word-diff

  # list all files that have changed between provided commit and HEAD e.g. git since v2.1
  since = "!f() { git df $1 HEAD; }; f"

  wdiff = diff --word-diff=color --unified=1

  fixup = commit --fixup
  squash = rebase -i --autostash --autosquash
  sha = show --pretty=format:"%H" -q
  inject = "!f() { set -e; SHA=$(git sha $1); shift; git fixup $SHA $*; git squash $SHA~; }; f"

  commend = commit --amend --no-edit

  stsh = stash --keep-index
  staash = stash --include-untracked
  staaash = stash --all

  merc = merge --no-ff

  grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"

[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
